<h2>City Name: <%= @city.stop_name %></h2>

<h3>City Trains</h3>

  <% if @city.trains %>
    <ul>
      <% @city.trains.each do |train| %>
        <li><a href="/cities/<%= @city.id %>/trains/<%= train.id %>"><%= train.train_name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no trains listed for this city yet.</p>
  <% end %>

<h4>Add a train:</h4>

<form action="/cities/<%= @city.id %>" method="post">
  <div class="form-group">
    <label for="train_name">Train name</label>
    <input id="train_name" name="train_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add train</button>
</form>


<p><a href="/cities/<%= @city.id %>/edit">Edit city</a></p>
<p><a href="/cities">Return to city list</a></p>
